.company-create-container {
	display: flex;
	flex-basis: auto;
	align-items: center;
	width: 80%;
	height: 500px;
	justify-content: space-around;
	flex-grow:2;
}

.company-container {
	display: flex;
	flex-direction: row;
}
.create-company-card {
	width: 75%;
	display: flex;
	flex-direction: column;
}
.create-company-card .create-card-button {
	margin: 0 10px;
}
.create-company-card .create-company-card-content {
	display: flex;
	align-items: center;
	justify-content: center;
}
.create-company-card .create-company-step {
	width: 40%;
	margin: 30px 0;
}
.chip {
	margin: 5px;
}
.final-step {
	min-height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sidebar {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	position: relative;
	transition: 0.5s;
	width: 13%;
	z-index: 2;
	border-color: black;
}

.sidebar.collapsed {
	width: 5%;
}