.nav-bar-button-right {
	display: flex;
}

.nav-bar {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	z-index: 5;
	padding-left: 0px;
}

.nav-bar-buttons {
	display: flex;
}
.small {
	width: 85%;
	align-self: flex-end;
	transition: width 0.4s;
}
.big {
	align-self: flex-end;
	transition: width 0.4s;
}
.error {
	color: red;
}

.root {
	height: 100%;
	display: flex;
	flex-direction: column;
}
html,
body,
#root {
	height: 100%;
}
