.nav-bar-button-right {
	color: white;
}

.nav-bar {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

.nav-bar-buttons {
	display:flex;
}

.error {
	color: red;
}
