.settingsFields {
    margin: auto;
    width: 80%;
    padding: 10px;
}
.lTabs{
    margin: auto;
    width: 30%;
    padding: 10px;
}
.txtFieldWidth{
    width: 220%
}
.tabPersonal{
   padding-right: 40px;
}

.btnSave{
 
width: 40%;
margin-left: 30%;
margin-right: 30%
}
.passTextField{
    margin-left: 50%;
}
.changePassButton
{
    margin-left: 73%;
}
.passErrorMessage{
    margin-left: 50%;
    color:red;
}
.settings-card {
    width: 40%;
    height: 800px;
    margin:auto;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
.compSaveBtn{
    
width: 20%;
margin-left: 40%;
margin-right: 30%
}
.companySettings-card {
    width: 40%;
    height: 250px;
    margin:auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
