.settingsFields {
    margin: auto;
    width: 50%;
    padding: 10px;
}
.lTabs{
    margin: auto;
    width: 30%;
    padding: 10px;
}
.txtFieldWidth{
    width: 220%
}
.tabPersonal{
   padding-right: 40px;
}

.btnSave{
 
width: 40%;
margin-left: 30%;
margin-right: 30%
}
.passTextField{
    margin-left: 45%;
}
.changePassButton
{
    margin-left: 60%;
}
.passErrorMessage{
    margin-left: 70%;
    color:red;
}