.TaskHolder-page {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-top: 10px;
    box-shadow: 5px 6px 12px rgba(0,0,0,0.16), 2px 5px 8px rgba(0,0,0,0.23);
}

.task {
    margin-bottom: 8px;
    cursor: pointer;
    box-shadow: 5px 6px 12px rgba(0,0,0,0.16), 2px 5px 8px rgba(0,0,0,0.23);
}

.task:hover {
    box-shadow: 9px 8px 12px rgba(0,0,0,0.25), 5px 10px 10px rgba(0,0,0,0.22);
    background-color: #dbe5ff;
}